
<div class="main" app-theme>
  <div class="layout">
  <div class="nav">Nav Bar</div>
   <div class="content">
  <div class="mode">
    <div class="mode-icon">
    <span class="icon"><fa-icon [icon]="faMoon"></fa-icon></span>
    <label class="switch">
      <input type="checkbox" (click)="toggle()" />
      <span class="slider round"></span>
    </label>
    <span class="icon"><fa-icon [icon]="faSun"></fa-icon></span>
    </div>
    </div>
    article
    </div>
    
    </div>

    <div (click)="toggle()">
      <div *ngIf="!show"><fa-icon [icon]="faSun"></fa-icon></div>
     <div *ngIf="show"><fa-icon [icon]="faMoon"></fa-icon></div>
    </div>

  </div>
  


